<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
    <!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- corousel bootstrap -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<!-- end -->
    <title>News WebSite </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">NewsWebsite</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Categories
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/category/business">Business</a></li>
                <li><a class="dropdown-item" href="/category/entertainment">Entertainment</a></li>
                <li><a class="dropdown-item" href="/category/general">General</a></li>
                <li><a class="dropdown-item" href="/category/health">Health</a></li>
                <li><a class="dropdown-item" href="/category/Science">Science</a></li>
                <li><a class="dropdown-item" href="/category/sports">Sports</a></li>
                <li><a class="dropdown-item" href="/category/technology">Technology</a></li>
              </ul>
            </li>
          </ul>
          <form method="GET" action="{% url 'search' %}" class="d-flex"  >         
            <input
            
                              class="form-control me-2"
                              type="search"
                              name='search'
                              placeholder="Search"
                              aria-label="Search"
                               />
             <button  style="border-radius: 0.5rem;" type="submit"><i class="fa fa-search"></i></button>
          </form>
          <!-- <a href="" class="btn btn-primary mx-2">Login</a> -->
          <!-- <a href="" class="btn btn-primary mx-2">Signup</a> -->
        </div>
      </div>
    </nav>
    <!-- <h1 style="margin: 1rem; color: #000" class="text-center">News Website </h1> -->

    <!-- <div class="carousel-item">
      {% for i in articles %}

      <img src="{{i.urlToImage}}"  alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{i.title}}</h5>
        <p> {{i.description}}</p>
      </div>
      {% endfor %}
    </div> -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="height: 40rem;">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>

      </div>
      <div class="carousel-inner">
        {% for i in articles %}
        {% if forloop.counter <= 3 %}
        {% if forloop.first %}

        <div class="carousel-item active " data-bs-interval="5000">
          <img style="height: 35rem;" src="{{i.urlToImage}}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{i.title}}</h5>
            <p>{{i.description}}</p>
          </div>
        </div>
        {% endif %}

        <div class="carousel-item " data-bs-interval="5000">
          <img style="height: 35rem;" src="{{i.urlToImage}}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{i.title}}</h5>
            <p>{{i.description}}</p>
          </div>
        </div>
       {%endif%}
        {%endfor%}
        <!-- <div class="carousel-item">
          <img src="https://static.wikia.nocookie.net/doraemon/images/b/b8/Doraemon_2005.PNG/revision/latest?cb=20151207094313&path-prefix=en" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://static.wikia.nocookie.net/doraemon/images/b/b8/Doraemon_2005.PNG/revision/latest?cb=20151207094313&path-prefix=en" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div> 
      </div>-->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
<div style="margin-left: 4rem; margin-right:8rem">    
  <h2 style="margin-top: 2rem; margin-bottom: 0rem; color: #80809e;"  >LATEST NEWS</h2>
  <hr style="margin: 0rem">
</div>

    <div style="margin-top: 2rem" class="container">
      <div class="row">
        {% for i in articles %}

        <div class="col-sm">
          <div class="card border border-dark" style="width: 18rem; margin-bottom: 1rem;">
            <img src="{{i.urlToImage}}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">
                {{i.description}}
              </p>
              <a href="{{i.url}}" class="btn btn-outline-dark">Full Article</a>
            </div>
          </div> 
        </div>
        {% endfor %}
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
    -->
  </body>
</html>
